/* FONTS
font-family: "Major Mono Display", monospace;
font-family: "Oswald", sans-serif;
*/

/* GLOBAL */
body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  background-image: url("../images/funky-lines.png");
  padding: 2rem 0;
}

input {
  border: 1px solid #1c1259;
}

td {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* tr:hover {
  background-color: #ee426770!important;
} */

/* BOOTSTRAP */

.card {
  border: none;
  margin-bottom: 2rem;
}

.card-header {
  font-family: "Major Mono Display", monospace;
  padding-left: 1rem;
  font-size: 1.4rem;
  background-color: #ee4266;
  color: #fff;
}

.btn {
  background-color: #ee4266;
  border: none;
  width: 10rem;
}

/* HEADER */
.header-box {
  background-color: #1c1259;
  color: #fcd307;
  font-family: "Major Mono Display", monospace;
  border-radius: 5px;
  padding: 0.8rem;
  padding-left: 1rem;
  margin: 2rem 0;
}

.main-title {
  display: inline-block;
}

.time-div {
  float: right;
}

/* TRAINS DISPLAY */

.btn-delete {
  width: 2rem;
  margin-top: auto 0;
  background-color: #fcd307;
  color: #1c1259;
}

.btn-delete:hover {
  background-color: #ee4266;
}


/* FORM */

.add-train-card {
  margin-top: 2rem;
}

.form-seperate {
  background-color: #fcd307;
  height: 1px;
}
